<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>Главная страница</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}"> 
    <link rel="manifest" href="{% static '/site.webmanifest' %}">
</head>
<body>
    <header>
        <h1><a href="#feedback">Пиццерия у дорожки</a></h1>
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
            <img src="{% static 'img/phone.svg' %}" />
        </a>
        <a href="#about">
            <img src="{% static 'img/faq.svg' %}" />
        </a>
    </header>

    <div class="part assortiment">
        <h2>Ассортимент</h2>
        <table class="part_container assortiment">
            <thead>
                {% for column in columns %}
                <th scope="col">{{ column }}</th>
                {% endfor %}
            </thead>
            <tbody>
                {% for row in rows %}
                <tr>
                    <td>{{ row.name }}</td>
                    <td>
                        {% for topping in row.toppings %}
                        {{ topping }}<br>
                        {% endfor %}
                    </td>
                    <td class='cheese'>
                        {% if row.cheese %}
                            <img src="{% static 'img/checkbox.svg' %}" class="yes" />
                        {% else %}
                            <img src="{% static 'img/wrong.svg' %}" class="no" />
                        {% endif %}
                    </td>
                    <td>{{ row.price }} ₽</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="part about" id="about">
        <h2>О компании</h2>
        <div class="part_container about">
            <img src="{% static 'img/pizza.jpg' %}" />
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Diam in arcu cursus euismod quis viverra nibh cras. Eget nulla facilisi etiam dignissim diam quis. Pretium nibh ipsum consequat nisl vel. Et malesuada fames ac turpis egestas sed tempus urna et. Sodales neque sodales ut etiam sit amet nisl. Ut faucibus pulvinar elementum integer enim neque volutpat. Sed pulvinar proin gravida hendrerit lectus a. A scelerisque purus semper eget duis at tellus. 
            </p>
        </div>
    </div>

    <div class="part feedback" id="feedback">
        <h2>Обратная связь</h2>
        <form action="#feedback" method="post" class="feedback-form">
            {% csrf_token %}
            <label>Имя: </label><br>
            <input placeholder="Иван" name="name" required><br>
            <label>Телефон: </label><br>
            <input type="number" placeholder="+8 (XXX) XXX XX-XX" name="phone" required><br>
            <label>Пицца: </label><br>
            <div class="pizzas">
                {% for row in rows %}
                <div>
                    <input required value="0" class="pizza_input" type="number" name="pizza_{{ forloop.counter0 }}"><label class="pizza_label">{{ row.name }}</label>
                </div>
                {% endfor %}
            </div>
            <input type="submit" value="Заказать!">
            {% if is_error %}
            <label class="error">{{ error_message }} Попробуйте еще раз</label>
            {% endif %}
        </form>
    </div>
    


</body>
</html>