<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>Главная страница</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/admin.css' %}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}"> 
    <link rel="manifest" href="{% static '/site.webmanifest' %}">
</head>
<body>
    <header>
        <h1><a href="#feedback">Пиццерия у дорожки</a></h1>
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
            <img src="{% static 'img/phone.svg' %}" />
        </a>
        <a href="#about">
            <img src="{% static 'img/faq.svg' %}" />
        </a>
    </header>

    <div class="part">
        <h2>Покупатели</h2>
        <table class="part_container assortiment">
            <thead>
                {% for column in columns %}
                <th scope="col">{{ column }}</th>
                {% endfor %}
            </thead>
            <tbody>
                {% for row in rows %}
                <tr>
                    <td>{{ row.1 }}</td>
                    <td>
                        {{ row.2 }}
                    </td>
                    <td>
                    {{ row.3 }}
                    </td>
                    <td class='cheese'>
                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden" value="dashboard" name="type">
                            <input type="hidden" value="{{ row.0 }}" name="uid"/>
                            <input type="hidden" value="{{ row.4 }}" name="state"/>
                            {% if row.4 %}
                            <input type="submit" value="Да" name="yes_button" style="color: green"/>
                            {% else %}
                            <input type="submit" value="Нет" name="no_button" style="color: red"/>
                            {% endif %}
                        </form>
                    </td>
                    <td>{{ row.5 }}</td>
                    <td>{{ row.6 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <form method="post">
        {% csrf_token %}
        <input type="hidden" value="download_table" name="type">
        <input type="submit" value="Скачать" class="download"/>
    </form>
    
</body>
</html>